@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c&family=Noto+Sans+JP&family=Poppins&display=swap");

:root{
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", "Kosugi Maru", "M PLUS Rounded 1c", "Noto Sans Japanese", sans-serif;
  font-size: 62.5%;
  outline: none;
}

html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #f8f9fa;
}

*{
  font-size: 1.6rem;
}

span.material-icons{
  font-size: 1.6rem;
}

.container{
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-areas: ". . ." ". i ." ". . .";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  width: 100vw;
  height: 100vh;

  .center{
    grid-area: i;
    max-width: calc(100vw - 48px);
    max-height: 100vh;
    margin: 8px;
    text-align: center;
  }
}

.container:not(.showing){
  display: none;
}

p.title{
  font-size: 5rem;
}

li{
  width: fit-content;
  margin: auto;
}

a{
  color: #333;
}

.modal_back{
  position: fixed;
  z-index: 1;
  display: none;
  grid-template-areas: ". . ." ". i ." ". . .";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  width: 100vw;
  height: 100vh;
  background-color: #0006;
  opacity: 0;
  transition: 500ms;

  img{
    z-index: 2;
    grid-area: i;
    width: calc(100vw - 16px);
    margin: auto 8px;
    cursor: pointer;
  }

  &.showing{
    display: block;
    opacity: 1;
  }
}

.imgContainer{
  margin-top: 16px;

  img{
    width: 200px;
    cursor: zoom-in;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 0px #aaa;
  }
}

.AppInstall{
  display: inline-block;
  height: 40px;
  margin-top: 16px;
  overflow: hidden;

  &.AppStore {
    width: 135px;
  }

  &.GooglePlay {
    width: auto;

    img {
      width: auto;
      height: 58px;
      object-fit: cover;
      object-position: -9px -9px;
    }
  }
}

div.arrow{
  position: absolute;
  left: calc(50vw - (3vw / 1.41421356));
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;

  &-bottom{
    bottom: 2vh;
    transform: rotate(45deg);
  }

  &-top{
    top: 2vh;
    transform: rotate(-135deg);
  }
}

#scrollbar{
  position: fixed;
  top: 0;
  right: 0.3vw;
  width: 0.8vw;
  height: 100vh;

  #scrollbar_thumb{
    position: absolute;
    top: 8px;
    width: 0.8vw;
    background-color: #aaa;
    border-radius: 0.4vw;
  }
}

#noteJS{
  height: 0;
  text-align: center;
  opacity: 0;
  animation-name: noteJS;
  animation-duration: 200ms;
  animation-delay: 5s;
  animation-fill-mode: both;
}

@media (max-width: 899px){

  #note900px{
    display: block;
  }

  button#viewFull{
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

@media (min-width: 900px){

  #note900px{
    display: none;
  }

  button#viewFull{
    display: none;
  }
}

@keyframes noteJS{

  0%{ height: 0; opacity: 0; }

  1%{ height: auto; opacity: 0.01; }

  100%{ height: auto; opacity: 1; }
}